---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import Vector from '../components/Vector.astro';
import AboutUs from '../components/AboutUs.astro';
import Beneficios from '../components/Beneficios.astro';
import Servicios from '../components/Servicios.astro';
import Planes from '../components/Planes.astro';
---

<Layout title="Bienvenidos a MoveGPS">
	<Vector class='absolute -z-10 -top-36 md:-top-10 left-0 max-sm:w-[300px] md:w-[800px] drop-shadow-4xl'/>
	<Header/>
	<main class="w-full px-8">
		<Intro/>
		<AboutUs/>
		<Beneficios/>
		<Servicios/>
		<Planes/>
	</main>
</Layout>
