---
import PrimaryButton from "./PrimaryButton.astro";
---

<section
id="conocenos"
    class="w-full flex flex-col-reverse md:flex-row text-white font-extrabold gap-8 py-16 md:py-32 text-center md:text-left"
>
    <div class="w-full md:w-[40%] relative md:gap-0 gap-4 flex flex-col items-center">
        <div
            class="w-[90%] h-[60vh] md:w-[200px] lg:w-[270px] md:h-[280px] lg:h-[350px] bg-[url('/images/aboutUs2.png')] bg-cover rounded-xl md:absolute md:top-20 lg:top-0 md:left-5 lg:left-0"
        >
        </div>
        <div
            class="w-[90%] h-[60vh] md:w-[200px] lg:w-[270px] md:h-[280px] lg:h-[350px] bg-[url('/images/aboutUs1.png')] bg-cover rounded-xl md:absolute md:bottom-20 lg:bottom-0 md:right-5 lg:right-0"
        >
        </div>
    </div>
    <div
        class="flex flex-col w-full md:w-[60%] gap-4 items-center md:items-start"
    >
        <h3 class="text-base text-[#3ED5DD]">CONÓCENOS</h3>
        <h1 class="text-4xl md:text-6xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </h1>
        <p class="text-pretty">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
            impedit quaerat, ex suscipit, voluptates placeat praesentium culpa
            quae dolor earum tenetur? Odit quo perferendis aspernatur quidem.
            Impedit labore possimus quos. Laudantium natus illo eius? Incidunt
            sed molestias id atque voluptates deleniti eius corrupti ea soluta
            impedit, explicabo magnam et? Quo, delectus hic? Quas asperiores
            suscipit alias mollitia fugiat, odit aspernatur!te
        </p>
        <PrimaryButton
            text="Conócenos"
            class="bg-gradient-to-r from-[#0A767B] to-[#00A7D6] w-max py-4 px-10 rounded-lg text-base transition-transform hover:translate-y-1"
            link="https://www.movegps.cl"
        />
    </div>
</section>
