---
import Card from "./FirstCard.astro";
---

<section
    id="beneficios"
    class="w-full flex flex-col text-white text-pretty text-center gap-12 md:gap-16 font-extrabold pt-32"
>
    <div class="flex flex-col md:gap-8 lg:px-16">
        <h3 class="text-base text-[#3ED5DD]">BENEFICIOS</h3>
        <h1 class="text-4xl lg:text-6xl">
            Move<span class="text-[#3ED5DD]">GPS</span>, es seguridad, es
            confianza
        </h1>
        <p class="text-pretty">
            En MoveGPS, entendemos que la seguridad de tus vehículos es
            primordial. Por eso, nuestras soluciones están diseñadas para
            ofrecer una protección integral y fiable. Con tecnología de última
            generación y un enfoque centrado en la confianza del cliente,
            MoveGPS se convierte en tu aliado más confiable para asegurar la
            integridad de tu flota y la tranquilidad de tu negocio.
        </p>
    </div>
    <div class="flex flex-col md:flex-row gap-12 lg:gap-16">
        <Card
            title="Garantía"
            body="Nuestros productos igla con tecnología CAN BUS, aseguran la garantía de tu vehiculo ( en la mayoría de modelos)."
            icon="checkmark"
        />
        <Card
            title="Servicio Técnico"
            body="Ofrecemos un servicio personalizado, y estamos disponible para resolver cualquier inconveniente."
            icon="construct"
        />
        <Card
            title="Variedad"
            body="Nuestra versatilidad en servicios y productos se ajusta a cualquier vehiculo y bolsillo."
            icon="apps"
        />
    </div>
</section>
