---
import Icon from "./Icon.astro";
---

<section
    id="footer"
    class="flex flex-col md:flex-row py-16 md:py-32 w-full justify-between text-white font-bold gap-8"
>
    <div class="flex flex-col gap-4 w-full md:w-[30%]">
        <h2 class="text-2xl">Move<span class="text-[#3ED5DD]">GPS</span></h2>
        <p class="text-sm font-semibold">
            MoveGPS se destaca por proporcionar soluciones avanzadas en
            seguridad vehicular, integrando tecnología de punta para garantizar
            la protección y el monitoreo constante de tus vehículos. Con
            sistemas de rastreo GPS de alta precisión, alertas en tiempo real y
            una plataforma intuitiva, MoveGPS asegura que siempre estés un paso
            adelante en la seguridad de tu flota.
        </p>
        <div class="flex flex-row justify-between">
            <Icon url="/Ig.svg" alt="Logo de Instagram" />
            <Icon url="/FB.svg" alt="Logo de Facebook" />
            <Icon url="/Twitter.svg" alt="Logo de Twitter" />
            <Icon url="/Youtube.svg" alt="Logo de Youtube" />
        </div>
    </div>
    <div class="flex flex-col w-full md:w-[30%] gap-4">
        <h2 class="text-xl">CONTACTANOS</h2>
        <div class="flex gap-2 items-center">
            <Icon url="/mail.svg" alt="email" />
            <p>soporte@movegps.cl</p>
        </div>
        <div class="flex gap-2 items-center">
            <Icon url="/location.svg" alt="dirección" />
            <p>av. copayapu, Copiapó, Región de Atacama.</p>
        </div>
        <div class="flex gap-2 items-center">
            <Icon url="/phone.svg" alt="teléfono" />
            <p>+56(52)22334455</p>
        </div>
    </div>
</section>
