<header class="flex w-full text-pretty text-white font-bold">
    <nav class="flex w-full flex-row justify-between px-1 md:px-8 pt-6">
        <div class="text-xs md:text-3xl px-1 py-1"> <img src="images/logo.png" alt="" width="150"></div>
        <div class="flex gap-2 md:gap-4 text-xs md:text-base items-center">
            <a href="" class="transition-all hover:text-[#3ED5DD] hover:translate-y-1">Inicio</a>
            <a href="" class="transition-all hover:text-[#3ED5DD] hover:translate-y-1">Servicios</a>
            <a href="" class="transition-all hover:text-[#3ED5DD] hover:translate-y-1">Garantías</a>
            <a href="" class="transition-all hover:text-[#3ED5DD] hover:translate-y-1">Planes</a>
        </div>
    </nav>
</header>