<header class="flex w-full text-pretty text-white font-bold bg-slate-800 md:bg-transparent">
    <nav class="flex justify-between items-center mx-auto w-[92%] pt-6">
        <div class="text-xs md:text-3xl px-1 py-1 z-10"> <img src="images/logo.png" alt="" class="w-32 cursor-pointer"></div>
        <div class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex text-xs md:text-base items-center px-5 bg-slate-800 md:bg-transparent transition-all">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                <li class="transition-all hover:text-[#3ED5DD] hover:translate-y-1"><a href="">Inicio</a></li>
                <li class="transition-all hover:text-[#3ED5DD] hover:translate-y-1"><a href="">Servicios</a></li>
                <li class="transition-all hover:text-[#3ED5DD] hover:translate-y-1"><a href="">Garantías</a></li>
                <li class="transition-all hover:text-[#3ED5DD] hover:translate-y-1"><a href="">Planes</a></li>
            </ul>
        </div>
        <div class="md:hidden">
            <ion-icon name="menu" class="text-3xl cursor-pointer md:hidden menu"></ion-icon>
        </div>
    </nav>
</header>
<script>
    const navLinks = document.querySelector('.nav-links');
    const menu = document.querySelector('.menu');
    menu?.addEventListener('click',()=>{
        let iconName = menu.getAttribute('name');
        menu.setAttribute('name', iconName === 'menu' ? 'close' : 'menu');
        navLinks?.classList.toggle('top-[9%]');
    });
</script>