---

---
<section class="flex w-full justify-center py-10">
    <div class="flex flex-col md:flex-row w-[80%] justify-between">
        <div class="flex flex-col text-center md:text-start text-pretty text-white font-bold justify-center gap-8">
            <h1 class="text-pretty text-4xl md:text-7xl">Bienvenidos a Move<span class="text-[#3ED5DD]">GPS</span></h1>
            <p class="text-base">Distribuidores autorizados de <span class="text-[#3ED5DD] text-xl">INGLA</span></p>
            <a href="" class="bg-gradient-to-r from-[#0A767B] to-[#00A7D6] w-max py-4 px-10 rounded-lg text-base">Saber Mas...</a>
        </div>
        <div>
            <img src="images/cerradura.png" alt="" width="500" height="500">
        </div>
    </div>
</section>