---
import PrimaryButton from "./PrimaryButton.astro";


---
<section class="flex w-full justify-center pt-32">
    <div class="flex flex-col md:flex-row w-[80%] justify-between">
        <div class="flex flex-col text-center md:text-start text-pretty text-white font-bold justify-center gap-8 items-center md:items-start">
            <h1 class="text-pretty text-4xl md:text-7xl">Bienvenidos a Move<span class="text-[#3ED5DD]">GPS</span></h1>
            <p class="text-base">Distribuidores autorizados de <span class="text-[#3ED5DD] text-xl">IGLA</span> y expertos en seguridad vehicular a traves del seguimiento por GPS.</p>
            <PrimaryButton text="Registrate" class="" link="https://www.movegps.cl"/>
        </div>
        <div>
            <img src="images/cerradura.png" alt="" width="500" height="500">
        </div>
    </div>
</section>