---
interface Props {
    span: string,
    text: string,
    class?:string,
}
const {text, span} = Astro.props;
---
<a class=`bg-[#171717] hover:bg-gradient-to-r hover:from-[#0A767B] hover:to-[#00A7D6] w-max py-4 px-10 rounded-full transition-transform hover:translate-y-1 font-light ${Astro.props.class}`><span class="text-xl font-bold">{span}</span>{text}</a>