---
import SecondCard from "./SecondCard.astro";
---

<section
    class="flex flex-col-reverse md:flex-row w-full text-white gap-8 pt-32"
    id="servicios"
>
    <div class="flex h-full w-full md:w-[40%] justify-center">
        <div
            class="bg-[url('/images/servicios.png')] w-full h-[100vh] md:h-[1000px] bg-cover rounded-xl"
        >
        </div>
    </div>
    <div
        class="flex flex-col text-center md:text-start font-extrabold w-full md:w-[60%] gap-4 justify-between"
    >
        <h3 class="text-base text-[#3ED5DD]">SERVICIOS</h3>
        <h1 class="text-4xl lg:text-6xl">
            Move<span class="text-[#3ED5DD]">GPS</span> ofrece soluciones avanzadas
            en seguridad vehicular
        </h1>
        <p class="text-pretty">
            MoveGPS se destaca por proporcionar soluciones avanzadas en
            seguridad vehicular, integrando tecnología de punta para garantizar
            la protección y el monitoreo constante de tus vehículos. Con
            sistemas de rastreo GPS de alta precisión, alertas en tiempo real y
            una plataforma intuitiva, MoveGPS asegura que siempre estés un paso
            adelante en la seguridad de tu flota.
        </p>
        <div class="grid grid-cols-12 gap-4">
            <SecondCard
                title="Protección contra el robo"
                body="Con nuestros sistemas de GPS y seguridad automotriz, tu vehículo estará protegido las 24 horas del día. Puedes rastrear su ubicación en tiempo real, lo que facilita una rápida recuperación en caso de robo. Además, nuestras soluciones incluyen alarmas y notificaciones instantáneas que te alertarán de cualquier intento de intrusión, ayudándote a prevenir robos antes de que ocurran."
                icon="lock"
                class="col-span-10 md:col-span-6 col-start-2 md:col-start-auto hover:scale-105 transition-all cursor-pointer"
            />
            <SecondCard
                title="Monitoreo y control de flotas"
                body="Si gestionas una flota de vehículos, nuestros sistemas de GPS te permitirán monitorear continuamente las rutas, el consumo de combustible y el comportamiento de los conductores. Esto no solo te ayudará a optimizar la eficiencia operativa y reducir costos, sino que también mejorará la seguridad de tus empleados al promover prácticas de conducción más seguras."
                icon="eye"
                class="col-span-10 md:col-span-6 col-start-2 md:col-start-auto hover:scale-105 transition-all cursor-pointer"
            />
            <SecondCard
                title="Sistema de encendido por clave"
                body="Para una capa adicional de seguridad, ofrecemos un sistema de encendido por clave. Este sistema asegura que solo las personas autorizadas puedan arrancar el vehículo, evitando el uso no autorizado y protegiendo tu inversión. Con esta tecnología, puedes tener la tranquilidad de saber que tu vehículo está siempre bajo control y seguro."
                icon="key"
                class="col-span-10 md:col-span-12 col-start-2 md:col-start-auto hover:scale-105 transition-all cursor-pointer"
            />
        </div>
    </div>
</section>
